---

- name: pm2 install and run
  hosts: web
  gather_facts: yes
  become: true

  tasks:
  
  - name: install PM2 globally
    ansible.builtin.npm:
      name: pm2
      global: yes

  - name: start Node app with PM2
    ansible.builtin.shell: pm2 start app.js
    args:
      chdir: /home/ubuntu/repo/app